@use '../../common/scss/global.scss';
@use '../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: block;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--kd-color-background-ui-default);
  padding: 24px;
  border: 1px solid var(--kd-color-border-light);

  &.no-border {
    border: none;

    &:not(.fullscreen) {
      padding: 0;
    }
  }
}

figure {
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }
}

.closed-caption {
  @include typography.type-ui-03;
  color: var(--kd-color-text-secondary);

  &:not(:empty) {
    margin-top: 8px;
  }
}

.hidden-visually {
  @include mixins.visually-hidden;
}

.canvas-container {
  // width: 100%;
  // height: 100%;
  flex-grow: 1;

  .fullscreen & {
    max-height: calc(100% - 32px);
  }
}

canvas:focus,
div:focus {
  border-radius: 4px;
  outline: 2px solid var(--kd-color-border-focus);
}

.table {
  // width: 100%;
  flex-grow: 1;
  overflow: auto;

  .fullscreen & {
    max-height: 100%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  .fullscreen & {
    width: auto;
    min-width: 250px;
  }

  th {
    @include typography.type-ui-03;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    padding: 12px 16px;
    background: var(--kd-color-background-ui-soft);
  }

  td {
    padding: 8px 16px;
    border-bottom: 1px solid var(--kd-color-border-light);

    span {
      // display: block;

      &:after {
        content: ',';
      }

      &:last-child:after {
        content: none;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .widget & {
    margin: -16px -16px 8px -16px;
    padding: 16px 16px 0 16px;
    border-radius: 8px 8px 0 0;
  }
}

.title {
  @include typography.type-ui-01;
  font-weight: 500;
}

.description {
  @include typography.type-ui-03;
  color: var(--kd-color-text-secondary);
}

.controls {
  display: flex;
  align-items: center;
  margin-left: auto;

  .control-button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: 2px solid var(--kd-color-border-focus);
    }
  }

  .view-toggle {
    kd-icon {
      display: block;

      &.active {
        display: none;
      }
    }
  }

  .download {
    position: relative;

    &:focus-within .download-menu {
      display: block;
    }
  }

  .download-button {
    font: inherit;
  }

  .download-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--kd-color-background-ui-default);
    display: none;
    @include elevation.shadow(2);
    border-radius: 4px;
    overflow: hidden;
    text-align: left;

    & button {
      display: block;
      width: 100%;
      padding: 8px;
      white-space: nowrap;
      font: inherit;
      color: inherit;
      border: none;
      background: none;
      cursor: pointer;
      outline: 2px solid transparent;
      outline-offset: -2px;
      transition: background-color 0.15s ease-out, outline-color 0.15s ease-out;

      &:hover {
        background: var(--kd-color-background-inverse-hover);
      }

      &:focus {
        outline-color: var(--kd-color-border-focus);
      }
    }
  }
}
