@use '../../common/scss/global.scss';
@use '../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

figure {
  margin: 0;
}

.hidden-visually {
  @include mixins.visually-hidden;
}

canvas:focus,
div:focus {
  border-radius: 4px;
  outline: 2px solid var(--kd-color-border-focus);
}
