/* BEGIN DATA VIZ PALETTE COLORS - (light theme only) */
:root {
  $colors: (
    sea: (
      100: #004765,
      90: #155b7f,
      80: #236f96,
      70: #3082af,
      60: #3a94c6,
      50: #48a5da,
      40: #64b5e1,
      30: #7ec4e9,
      20: #95d3f0,
      10: #ace1f8,
    ),
    jade: (
      100: #004a4f,
      90: #00615f,
      80: #00776b,
      70: #008d72,
      60: #00a275,
      50: #25b574,
      40: #49c588,
      30: #66d39f,
      20: #81e1b5,
      10: #9beeca,
    ),
    amber: (
      100: #643000,
      90: #813f01,
      80: #9e4d02,
      70: #bc5802,
      60: #d86301,
      50: #f26e01,
      40: #ff850a,
      30: #ffa329,
      20: #ffbc48,
      10: #ffd46a,
    ),
    blush: (
      100: #781256,
      90: #922365,
      80: #ab3272,
      70: #c4407e,
      60: #dc4b89,
      50: #ee5d97,
      40: #f378b1,
      30: #f493c5,
      20: #f3acd6,
      10: #f2c4e2,
    ),
    lilac: (
      100: #641195,
      90: #7431a4,
      80: #8548b4,
      70: #945cc2,
      60: #a36fd0,
      50: #b181db,
      40: #bd93e5,
      30: #c9a5ed,
      20: #d5b5f6,
      10: #e2c6ff,
    ),
  );

  /* Generating tokens based on the values defined in colors */
  @each $colorname, $color in $colors {
    @each $key, $value in $color {
      $keyname: '--kd-color-data-' + $colorname + '-' + $key;
      #{$keyname}: #{$value};
    }
  }

  /* BEGIN NON-PALETTE COLORS (light theme only)*/

  --kd-color-data-text: var(--kd-color-darkstone-80);
  --kd-color-data-background: var(--kd-color-neutral-white);

  --kd-color-data-gray-10: var(--kd-color-warmgray-10);
  --kd-color-data-gray-20: var(--kd-color-warmgray-20);
  --kd-color-data-gray-30: var(--kd-color-warmgray-30);
  --kd-color-data-gray-40: var(--kd-color-warmgray-40);
  --kd-color-data-gray-50: var(--kd-color-warmgray-50);
  --kd-color-data-gray-60: var(--kd-color-warmgray-60);
  --kd-color-data-gray-70: var(--kd-color-warmgray-70);
  --kd-color-data-gray-80: var(--kd-color-warmgray-80);
  --kd-color-data-gray-90: var(--kd-color-warmgray-90);
  --kd-color-data-gray-100: var(--kd-color-warmgray-100);

  /* Status colors (light theme only)*/
  --kd-color-data-status-success: var(--kd-color-success);
  --kd-color-data-status-success-light: var(--kd-color-success-light);
  --kd-color-data-status-error: var(--kd-color-error);
  --kd-color-data-status-error-light: var(--kd-color-error-light);
  --kd-color-data-status-warning: var(--kd-color-warning);
  --kd-color-data-status-warning-light: var(--kd-color-warning-light);
  --kd-color-data-status-informational: var(--kd-color-informational);
  --kd-color-data-status-informational-light: var(
    --kd-color-informational-light
  );
}
